.nav{height:65px;}
.navbar-inverse{background-color:#b79168;}
.navbar-brand{padding:10px 50px;}
#navbar .navbar-nav .active{background:#b79168;}
#navbar li a{color:#fff;font-size:14px;font-family:"微软雅黑" ;}
#navbar li a span{font-size:10px;padding:5px;}
/*================轮播=========================*/

.main{width:90%;height:auto;margin:0 auto;overflow:hidden;}
.main .common{
	width:100%;
	height:1100px;
	margin:0 auto;
	background-attachment:fixed;
	position:relative;
	background-position:top left;
	/*font-size: 0;*/
}
.main .common .show{
	width:100%;position:absolute;bottom:0px;
}
.main .common .show img{width:100%;}
.main .one{
	background-image: url(../images/46.jpg);
}
.main .two{
	background-image: url(../images/47.jpg) ;
}
.main .three{
	background-image: url(../images/48.jpg);
}
.main .four{
	background-image: url(../images/49.jpg);
}
.main .five{
	background-image: url(../images/50.jpg);
}
.main .six{
	background-image: url(../images/52.jpg);
}
/*=============客片====================================*/
.pic{width:95%;height: auto;margin:0 auto;overflow:hidden;}
.pic p{ text-align:center;padding-top:10px; color:#b79168;font-size:30px;font-family:"微软雅黑" ;}
#myTab{margin-left:7%;color:#b79168;font-size:20px;font-family:"微软雅黑" ;}
#myTabContent ul{list-style:none;}
#myTabContent li{float:left;padding:15px;position:relative;}
#myTabContent ul li a{position:relative;display:block;}
#myTabContent li .rank{width:380px;height: 70px;position: absolute;
left:0;margin-left: 0px;margin-top: -70px;z-index:0;transition:all 0.4s;
overflow:hidden;
}
 #myTabContent li .rank span{position:absolute;width:190px;height: 35px;background: #bf9e5b;
    line-height: 35px;text-align: center;color: #ffffff;transition:all 0.8s;
    opacity: 0;
}
 #myTabContent li .rank span:nth-child(3){
    transition:all 0.8s 0.1s;
}
 #myTabContent li .rank span:nth-child(4){
    transition:all 0.8s 0.1s;
}
 #myTabContent li .rank span{opacity:1;}
 #myTabContent li .rank span:nth-child(1){left:0;top:0;}
 #myTabContent li .rank span:nth-child(2){right:0;top:0;}
 #myTabContent li .rank span:nth-child(3){left:0;top:35px;}
 #myTabContent li .rank span:nth-child(4){right:0;top:35px;}
 #myTabContent li:hover span{opacity:0 ;}
 #myTabContent li:hover .rank span:nth-child(1){left:15%;top:15%;}
 #myTabContent li:hover .rank span:nth-child(2){left:50%;top:22%;}
 #myTabContent li:hover .rank span:nth-child(3){left:15%;top:31%;}
 #myTabContent li:hover .rank span:nth-child(4){left:50%;top:32%;}
 #myTabContent ul li::after{content:"";width:80%;height:80%;background:white;
						position:absolute;left:10%;top:10%;opacity:0;
	}
#myTabContent ul li:hover::after{opacity:0.5;transition:opacity 1.5s;}
#myTabContent ul li a:last-child{display:block;width:100px;height:40px;line-height:40px;text-align: center;
background:#d6c7ad ;position:absolute;left:40%;top:40%;opacity:0;z-index:-3;}
#myTabContent ul li a:nth-child(2){z-index:1;}
#myTabContent ul li:hover a:last-child{opacity:1;}
 /*===============dw===================================*/
.dw{position: relative;}
.dw img{position:fixed;right:10px;bottom:0;z-index:111000;opacity:0;}
.dw img:nth-child(2){left:10px;}
.dw img:hover{transition:bottom 1s;bottom:30%;opacity: 1;}
.dw img:nth-child(2):hover{bottom:20%;opacity:1;}
.pj{width:95%;height:auto;}
.pj p{text-align:center;padding:10px 0; color:#b79168;font-size:30px;font-family:"微软雅黑" ;overflow: hidden;}
.pj img{width:100%;margin-left:3%;}
.pj .circle{width:100%;height:auto;border:1px solid blue;padding-left:1%;padding-top:2%;/*display:inline-block;*/overflow: hidden;}
.pj .circle img{width:100%;cursor:pointer;}
/*container=======================================*/
#container{width:100%;margin:10px auto;background-color:#d6c7ad;overflow:hidden;}
#container ul{width:100%;list-style:none;overflow: hidden;}
#container ul li{width:20%;float:left;}
#container ul li a{width:100%;}
#container ul li img{cursor:pointer;}
.contact{width:100%;background:#b79168;}
.contact ul{list-style:none;overflow:hidden;margin-left:10px;padding:0 10px;}
.contact ul li{width:25%;float:left;margin:10px 0;padding:0 15px;box-sizing:border-box;}
.contact ul li a{width:49%;height:100%; display:block;float:left;margin:auto 0;}
.contact ul li a:nth-child(1){border-radius:50%;background:#b79168;margin:15px 0;}
.contact ul li a:nth-child(2){width:48%;margin-top:20px;margin-left:5px;}
.contact ul li a h4{border-bottom:1px dashed gray;padding-bottom:10px;}
.contact ul li a h4,h3{color:#fff;font-size:18px;}
.contact ul li img{width:80%;border-radius:50%;margin:10%;background:white;box-sizing:border-box;}
.contact ul li:hover a:nth-child(1){background:#fff;}
.contact ul li img:hover{border-radius:50%;background:#b79168;}
/*==================底部==================*/
.footer{width:100%; background:#d6c7ad;font-size:18px;}
.footer ul{overflow:hidden;list-style:none;padding:0 35%;padding-bottom:2%;box-sizing:border-box}
.footer ul li{float:left;}
.footer p{ color:black;text-align:center;padding:0 1%;padding-top:2%;overflow:hidden;}